.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 150px 1fr;
  gap: 0px 0px;
  margin-inline: 32px;
  grid-template-areas:
    "header header"
    "aside main";
}
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.aside {
  grid-area: aside;
}
.main {
  grid-area: main;
}

.sidebar {
  position: sticky;
  top: 32px;
}

.load-more {
  margin: 12px;
  width: calc(100% - 24px);
}

.box.loader {
  margin: 12px;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkblue;
  font-size: xx-large;
}

.box.error {
  margin: 12px;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkred;
  font-size: xx-large;
}

.box.info {
  margin: 12px;
}

.box.nextPageLoader {
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkblue;
  font-size: xx-large;
}
